<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Posts')"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<div class="row">
    <form class="col-6" action="/search">
        <div class="form-group">
            <label for="address">Search by address</label>
            <input class="form-control" id="address" type="text" name="address"/>
            <br/>
            <label for="zipcode">Search by zipcode</label>
            <input class="form-control" id="zipcode" type="text" name="zipcode"/>
        </div>
    </form>
    <form action="/searchcategory">

        <p><label><input type="checkbox" name="cat" value="Electronics"/><span>Electronics</span></label></p>
        <p><label><input type="checkbox" name="cat" value="Apparel"/><span>Apparel</span></label></p>
        <p><label><input type="checkbox" name="cat" value="Personal Items"/><span>Personal Items</span></label></p>
        <p><label><input type="checkbox" name="cat" value="Pets"/><span>Pets</span></label></p>
        <p><label><input type="checkbox" name="cat" value="Miscellaneous"/><span>Miscellaneous</span></label></p>

        <div>


            <input value="Search" type="submit"/>
        </div>
    </form>

</div>

<div th:replace="partials/footer :: footer"></div>
</body>

</html>
