<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<body class="flex-container">
<nav th:fragment="navbar">
    <div class="nav-wrapper">
        <h3 href="#!" class="brand-logo"><span class="lost">Lost</span><span class="n-logo" >'N </span><span class="found">Found</span></h3>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/items}">Home</a></li>
            <li><a th:href="@{/items/create}">Create</a></li>
            <li><a href="/search-form">Search</a></li>
            <li><a th:href="@{/users/{id}(id=${#authentication.principal.id})}">Profile</a></li>
            <li><a th:href="@{/about}">About Us</a></li>
            <li>
                <form th:action="@{/logout}" th:method="post" id="logout-form">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a th:href="@{/items}">Home</a></li>
    <li><a th:href="@{/items/create}">Create</a></li>
    <li><a href="/search-form">Search</a></li>
    <li><a th:href="@{/users/{id}(id=${#authentication.principal.id})}">Profile</a></li>
    <li>
        <form th:action="@{/logout}" th:method="post">
            <button class="btn-link btn" style="margin-top: 8px">Logout</button>
        </form>
    </li>
</ul>

</body>
</html>