<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('LogIn')" ></head>
<body class="flex-container">
<h1 id="logo"><span class="lost">Lost</span> 'N <span class="found">Found</span></h1>
<p id="logindesc">Lost something? Looking for the owner of a reclaimed item? Lost 'n Found is dedicated to helping people find their lost items and connecting good samaratins to those who lost their things!</p>

<div th:if="${param.error}" >
    Invalid Username and Password. (Remember, passwords are case sensitive)
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div >
<div class="row">
    <div class="col s12 m10 centerpad">
        <div class="card logincard">
            <h5>LOG IN</h5>
            <form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" class="right topbot" value="Log In" />
</form>
        </div>
    </div>
</div>
<!---->
<a th:href="@{/users/register}" id="areg">Dont have an account? Click here to register!</a>
</body>
</html>