
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Profile')" ></head>
<body class="flex-container">
<div th:replace="partials/navbar :: navbar"></div>

<h1>Welcome <span th:text="${#authentication.principal.username}"></span></h1>

    <div th:each="item : ${items}">
        <div class="row">
            <div class="col s12 m10">
                <div class="card-panel">
        <!--<div class="card">-->
            <div class="card-body">

                <div th:if="${item.isLost() != null}">
                    <h3 class="lost">Lost</h3>
                </div>
                <div th:if="${item.isLost() == null}">
                    <h3 class="found">Found</h3>
                </div>

            <h1 th:text="${item.title}" />

            <p th:text="${item.description}" />

            <p th:text="${item.img}" />

            <p th:text="${item.address}" />

            <!--<p th:text="${item.addressTwo}" />-->

            <p th:text="${item.city}" />

            <p th:text="${item.state}" />

            <p th:text="${item.zipcode}" />

            <!--<p th:text="${item.categories}" />-->

                <form class="col-3" method="post" th:action="@{/items/{id}/delete(id=${item.id})}">
                    <input type="submit" class="btn btn-info btn-block" value="Delete" />
                </form>

                <form class="col-3" th:method="get" th:action="@{/items/{id}/edit(id=${item.id})}">
                    <input type="submit" class="btn btn-info btn-block" value="Edit" />
                </form>
            </div>
        <!--</div>-->
    </div>
<!--</div>-->
        </div>
    </div>
</div>

<th:block th:replace="partials/footer :: footer" />
</body>
</html>