
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Register')" ></head>

<body class="flex-container">
<h1>Create an account</h1>
<div>
    <div class="col s12 m10">
        <div class="card-panel" id="sign-card">
            <!--<div class="card">-->
            <div class="card-body">
<form th:action="@{/users/register}" method="post" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" name="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" name="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" name="password" th:field="*{password}" />
    <p>Passwords are case sensitive!</p>

    <input value="Sign me up!" id="sign-up" class="btn waves-effect waves-light right" type="submit" />
</form>
            </div>
        </div>
    </div>
</div>
</body>
</html>