
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Register</title>
</head>
<body>
<h1>Create an account</h1>
<div th:replace="partials/navbar :: navbar"></div>
<form action="users/register" method="POST"">
    <label for="username">Username</label>
    <input id="username" />

    <label for="email">Email</label>
    <input id="email" />

    <label for="password">Password</label>
    <input id="password" type="password" />

    <input value="Sign me up!" type="submit" />
</form>
</body>
</html>