<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('About Us')"></head>
<body class="flex-container">
<div th:replace="partials/navbar :: navbar"></div>
<div id="about" class="fluid-container mx-4">
    <!--<div class="row d-flex">-->

            <h1 class="headUs">About Our Team</h1>

<div class="row">
    <div class="col s4">
        <!--<div class="card-panel">-->
            <div class="about-card">
                <div>
                    <img class="picUs" th:src="@{/img/Lance.jpg}" height="178" width="178"/>
                </div>
                <div class="col-md-4">
                    <h2>Lance E. Crowder</h2>
                    <p class="mt-4">
                        <a href="https://www.linkedin.com/in/lancecrowder/"><i
                                class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                        <a href="https://github.com/lancecrwoder"><i class="fa fa-github"
                                                                         style="font-size:36px"></i></a>
                        <a href="mailto:thelancecrwoder@gmail.com"><i class="fa fa-envelope-square"
                                                                   style="font-size:36px"></i></a>
                    </p>
                </div>
            <!--</div>-->
        </div>
    </div>
<div class="col s4">
    <!--<div class="card-panel">-->
        <div class="about-card">
            <div>
                <img class="picUs" th:src="@{/img/Daniel.jpeg}"/>
            </div>
            <div class="col-md-4">
                <h2>Daniel Conner</h2>
                <p class="mt-4">
                    <a href="https://www.linkedin.com/in/daniel-conner1342/"><i
                            class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                    <a href="https://github.com/DanielC1342"><i class="fa fa-github"
                                                                     style="font-size:36px"></i></a>
                    <a href="mailto:daniel.conner1342"><i class="fa fa-envelope-square"
                                                               style="font-size:36px"></i></a>
                </p>
            </div>
        <!--</div>-->
    </div>
</div>
<!--</div>-->
                <div class="col s4">
                    <!--<div class="card-panel">-->
                            <div class="about-card">
                                <div>
                                    <img class="picUs" th:src="@{/img/Heather1.jpeg}"/>
                                </div>
                                <div class="col-md-4">
                                    <h2>Heather Arellano</h2>
                                    <p class="mt-4">
                                        <a href="https://www.linkedin.com/in/heather-arellano-sanantonio/"><i
                                                class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                                        <a href="https://github.com/heather-arellano"><i class="fa fa-github"
                                                                                         style="font-size:36px"></i></a>
                                        <a href="mailto:harellano485@gmail.com"><i class="fa fa-envelope-square"
                                                                                   style="font-size:36px"></i></a>
                                    </p>
                                </div>
                            <!--</div>-->
                        </div>
                    </div>
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</div>

<!--<p class="codeup" th:href="@{http://alumni.codeup.com/}">Codeup Alumni</p>-->
</body>
</html>