
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('About Us')" ></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1 class="About text-center">About Our Team</h1>
<div class="fluid-container mx-2">
    <div class="row d-flex">
        <div class="col-12">
            <h1 class="display-4">About Us</h1>
        </div>
        <div class="container aboutUs text-center mt-3" >
            <div class="row dashboardBlock ml-1">
                <div class="col-md-5">
                    <div class="aboutImg">
                        <img src="/img/Lance.jpeg"/>
                    </div>
                </div>
                <div class="col-md-7">
                    <h1>Lance Crowder</h1>

                    <p class="mt-4"><<a href="https://www.linkedin.com/in/lancecrowder/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/lancecrowder"><i class="fab fa-github"></i></a>
                        <a href="mailto:thelancecrowder@gmail.com"><i class="far fa-envelope"></i></a></p>
                </div>
            </div>
            <div class="row dashboardBlock ml-1">
                <div class="col-md-5">
                    <div class="aboutImg">
                        <img src="/img/Daniel.jpeg" />
                    </div>
                </div>
                <div class="col-md-7">
                    <h1>Daniel Conner</h1>

                    <p class="mt-4"><<a href="https://www.linkedin.com/in/daniel-conner1342/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/DanielC1342"><i class="fab fa-github"></i></a>
                        <a href="mailto:daniel.conner1342@gmail.com"><i class="far fa-envelope"></i></a></p>
                </div>
            </div>
            <div class="row dashboardBlock ml-1">
                <div class="col-md-5">
                    <div class="aboutImg">
                        <img src="/img/Heather.jpeg" />
                    </div>
                </div>
                <div class="col-md-7">
                    <h1>Heather Arellano</h1>

                    <p class="mt-4"><<a href="https://www.linkedin.com/in/heather-arellano-sanantonio/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://github.com/heather-arellano"><i class="fab fa-github"></i></a>
                        <a href="mailto:harellano485@gmail.com"><i class="far fa-envelope"></i></a></p>
                </div>
            </div>


        </div>

        <script th:replace="partials/navbar :: scripts"></script>
    </div>
    </body>

</html>
