
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('LostNFound Item')" ></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Post a Lost or Found Item</h1>
<form th:action="@{/items/create}" method="post" th:object="${item}">
    <label for="title">Item Title</label>
    <input id="title" th:field="*{title}" />

    <label for="description">Description</label>
    <input id="description" th:field="*{description}" />

    <p>
        <label for="lost">
            <input type="checkbox" id="lost" name="lost" value="lost"/><span>Please select if reporting a lost item.</span>
        </label>
    </p>

    <label for="addressOne">Address Where item was Lost/Found</label>
    <input id="addressOne" th:field="*{addressOne}" />

    <label for="addressTwo">Address 2</label>
    <input id="addressTwo" th:field="*{addressTwo}" />

    <label for="city">City</label>
    <input id="city" th:field="*{city}" />

    <label for="state">State</label>
    <input id="state" th:field="*{state}" />

    <label for="zipcode">Zip Code</label>
    <input id="zipcode" type="number" th:field="*{zipcode}" />

    <p><label><input type="checkbox" name="cat" value="Electronics"/><span>Electronics</span></label></p>
    <p><label><input type="checkbox" name="cat" value="Apparel"/><span>Apparel</span></label></p>
    <p><label><input type="checkbox" name="cat" value="Personal Items"/><span>Personal Items</span></label></p>
    <p><label><input type="checkbox" name="cat" value="Pets"/><span>Pets</span></label></p>
    <p><label><input type="checkbox" name="cat" value="Miscellaneous"/><span>Miscellaneous</span></label></p>

    <input value="Post Item" type="submit" />
</form>
</body>
</html>