
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Edit an Item')" ></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<h1>Post a Lost or Found Item</h1>
<form th:action="@{/item/{id}/edit (id=${item.id})}" method="post" th:object="${item}">
    <label for="title">Item Title</label>
    <input id="title" th:field="*{title}" />

    <label for="description">Description</label>
    <input id="description" th:field="*{description}" />

    <!--<label for="lost">please click if this is a lost item</label>-->
    <!--<input id="lost" type="radio" th:field="*{lost}" />-->

    <!--<label for="img">Upload Image of item if available</label>-->
    <!--<input th:type="file" id="img" name="img" th:accept="*{image/*}">-->

    <label for="address_1">Address Where item was Lost/Found</label>
    <input id="address_1" th:field="*{address_1}" />

    <!--<label for="address_2">Address 2</label>-->
    <!--<input id="address_2" th:field="*{address_2}" />-->

    <label for="city">City</label>
    <input id="city" th:field="*{city}" />

    <label for="state">State</label>
    <input id="state" th:field="*{state}" />

    <label for="zipcode">Zip Code</label>
    <input id="zipcode" type="number" th:field="*{zipcode}" />

    <input value="Post Item" type="submit" />
</form>
</body>
</html>