<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header('Posts')" ></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<img src="#" alt="L'nF"/>
<h1>Welcome to Lost 'n Found!</h1>
<!--<h1 th:if="${! items.isEmpty()}">Here are all the found items!</h1>-->
<!--<h1 th:if="${itens.isEmpty()}">Sorry, no results found!</h1>-->

<div th:each="item : ${items}">
    <div class="row">
    <div class="col s12 m5">
        <div class="card-panel teal">
            <div th:if="${item.isLost() != null}">
                <h3>Lost</h3>
            </div>
            <div th:if="${item.isLost() == null}">
                <h3>Found</h3>
            </div>
            <h2 class="text-center"><span th:text="${item.title}"></span></h2>
            <!--<p>Posted By: <span th:text="${item.user.username}" /></p>-->

            <p class="text-center"><span th:text="${item.description}"></span></p>
            <!--<img src="${item.img}" />-->
            <a th:href="@{/items/{id}(id=${item.id})}" class="btn btn-primary btn-block"><i  class="material-icons">visibility</i>  View</a>

            <!--<form class="col-3" method="post" th:action="@{/items/{id}/delete(id=${item.id})}">-->
                <!--<input type="submit" class="btn btn-info btn-block" value="Delete" />-->
            <!--</form>-->
        </div>
    </div>
    </div>
</div>

<div th:replace="partials/footer :: footer"></div>
</body>
</html>